<h1>Conversations</h1>

<div class ="convo-list">
<% @conversations.each do |conversation| %>
  <p>
  <% if conversation.sender_id != @current_user.id %>
    <%= link_to conversation.sender.first_name + " " + conversation.sender.last_name  , mailbox_path(conversation.id), :id => conversation.id%></p>
    <% else %>
    <p>    <%= link_to "#{conversation.receiver.first_name}" + " " + "#{conversation.receiver.last_name}", mailbox_path(conversation.id),:id => conversation.id %> </p>
  <% end %>
  <!-- <%= button_to 'Delete conversation', conversation_path(conversation.id), :method => 'delete' %> -->

<% end %>
</div>

<div class = "messages"></div>

<div class = "send-box">
  <%= form_tag "/mailboxes/mail/#{params[:id]}" do %>
    <%= text_field_tag :content %>
    <%= button_tag "Send" %>
  <% end %>


</div>
