<h1>Relationships#index</h1>

<div>
  <% @users.each do |user| %>
  <p>
    <%= user.first_name  %>
    <%= user.last_name %>
    <%= user.id %>
    <%= @current_user %>


    <%= button_to "Like", relationships_path(:user_id => user.id),  :class => "btn btn-default" %>


  </p>
  <% end %>

  <% @match.each do |user| %>
    <p>
      <%= user.likee_id %>
    </p>

  <% end %>
</div>
