<div class="user_form">

  <h1>Edit Your Profile!</h1>

  <%= form_for @user do |f| %>

  <div>
  <%= f.label :first_name %>
  <br />
  <%= f.text_field :first_name, :required => true, :placeholder => 'Name', :autofocus => true %>
  </div>
  <br />

  <div>
  <%= f.label :last_name %>
  <br />
  <%= f.text_field :last_name, :required => true, :placeholder => 'Surname' %>
  </div>
  <br />

  <div>
  <%= f.label :email %>
  <br />
  <%= f.email_field :email, :required => true, :placeholder => "rubyMyRails@ga.co" %>
  </div>
  <br />

  <div>
  <%= f.label :interests %>
  <br />
  <%= f.text_area :interests, :placeholder => 'Gaming, Dogs, Craft Beer' %>
  </div>
  <br />

  <div>
  <%= f.attachinary_file_field :photos %>
  </div>
  <br />

  <div>
  <%= f.label :gender %>
  <br />
  <%= f.select :gender, options_for_select(["Female", "Male",  "Non-Specified"]), :include_blank => 'Select One' %>

  </div>
  <br />

  <div>
  <%= f.label :dob %>
  <br />
  <%= f.date_field :dob %>
  </div>
  <br />

  <div>
  <%= f.label :location %>
  <br />
  <%= f.text_field :location, :placeholder => "Sydney", :required => true %>
  </div>
  <br />

  <div>
  <%= f.label :language %>
  <br />
  <%= f.select :language, options_for_select(["JavaScript", "Python", "Ruby", "Java", "C++", "C#", "Go", "Sass"]), :include_blank => 'Please Select' %>
  </div>
  <br />

  <div>
  <%= f.label :bio %>
  <br />
  <%= f.text_area :bio, :placeholder => 'Tell us a bit about yourself!' %>
  </div>
  <br />

  <%= f.submit %>

  <% end %>





</div>
