<!-- <h1>all users: <%= number_to_human User.count %></h1> -->
<h1>Find your perfect match</h1>
<h1>all users: <%= number_to_human User.count %></h1>
<% @users.each do |user| %>
<p>
  <%= link_to user.first_name, user_path(user) %>
</p>

<div class="potential-matches-container">

  <% @users.each do |user| %>
  <div class="matches-index-grid">

    <% if @current_user.admin? %>
      <% if user.image.present? %>
        <%= link_to  image_tag(user.image), user_path(user), :alt => user.first_name, :class => "index-image" %>
        <br />
      <% end %>

      <%= link_to "View #{user.first_name}", user_path(user) %> <%= link_to 'Delete User', user_path(user), :method => 'delete', :data => { :confirm => 'Are you sure?' } %> <br />

    <% else %>

      <% if user.image.present? %>
        <%= image_tag user.image, :alt => user.first_name %> <%= link_to "View #{user.first_name}", user_path(user) %>
      <% end %>

      <%= link_to "View #{user.first_name}", user_path(user)  %>
    <% end %>
    <br />
  </div>

<% end %>
</div>
