<h1>Find your perfect match</h1>

<div class="potential-matches-container">

  <% @users.each do |user| %>

  <div class="matches-index-grid">

    <div class="index-image-box">

    <% if user.photos.first.present? %>
  	<%= link_to cl_image_tag(user.photos.last.path, {:class => 'index-image', :size => '300x300', :crop => :fit, :alt => user.first_name} ), user_path(user) %>

    <% elsif user.image.present? %>
    <%= link_to image_tag(user.image, {:class => 'index-image', :size => '300x300', :crop => :fit, :alt => user.first_name} ), user_path(user) %>
    <% else %>
      <!-- default image here -->
    <%= link_to image_tag('/assets/img.jpg', {:class => 'index-image', :size => '300x300', :crop => :fit, :alt => user.first_name} ), user_path(user) %>
    <% end %>
  </div>

    <%= link_to "View #{user.first_name}", user_path(user) %>

    <% if @current_user.present? && @current_user.admin? %>

      <%= link_to 'Delete User', user_path(user), :method => 'delete', :data => { :confirm => 'Are you sure?' } %> <br />

      <% end %>

    <br />
  </div>

<% end %>

</div>
