<h1>Find your perfect match</h1>

<%= link_to "Female only", users_path(:gender => "Female") %>
<%= link_to "Male only", users_path(:gender => "Male") %>
<%= link_to "Other", users_path(:gender => "Non-Specified") %>

<div class="potential-matches-container">

  <% @users.each do |user| %>

  <div class="matches-index-grid">

    <% if user.image.present? %>

    <div class="index-image-box">

      <%= link_to image_tag(user.image, :class => "index-image", :alt => user.first_name), user_path(user) %>

    <% else %>

      <%= image_tag 'img.jpg', :class => "index-image"  %>

    <% end %>

    </div>

    <%= link_to "View #{user.first_name}", user_path(user) %>

    <% if @current_user.present? && @current_user.admin? %>

      <%= link_to 'Delete User', user_path(user), :method => 'delete', :data => { :confirm => 'Are you sure?' } %> <br />

      <% end %>

    <br />
  </div>
  <% if @current_user.present? &&  user != @current_user %>
    <% if @current_user.likes.include?(user) && @current_user.matches.include?(user) %>
     <%= button_to "Unlike", relationship_path(user.id), method: :delete, :class => "btn btn-default", :id => "like_button" %>
     <p> "You matched!" </p>

    <% elsif  @current_user.likes.include?(user) %>

     <%= button_to "Unlike", relationship_path(user.id), method: :delete, :class => "btn btn-default", :id => "like_button" %>

    <% else  %>

       <%= button_to "Like", relationship_path(user.id),  :class => "btn btn-primary", :id => "like_button" %>
    <% end %>


  <% end %>

<% end %>

</div>
