<p class="page-logo">//TODO: Meet You.</p>
<div class="signup-form-container">

  <div class="sign-up-form">

    <h1>Sign Up!</h1>

    <% if @user.errors.any? %>
      <ol>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ol>
      <% end %>

      <%= form_for @user do |f| %>

      <%= f.label :first_name, :class => "input-label" %><br />
      <%= f.text_field :first_name, :required => true, :placeholder => "Jane", :class => "input-box" %>
      <br />

      <%= f.label :last_name, :class => "input-label" %><br />
      <%= f.text_field :last_name, :required => true, :placeholder => "Smith", :class => "input-box" %>
      <br />

      <%= f.label "Email Address", :class => "input-label" %><br />
      <%= f.email_field :email, :required => true, :placeholder => "janesmith@ga.co", :class => "input-box" %>
      <br />

      <%= f.label "Your Location", :class => "input-label" %> <br />
      <%= f.text_field :location, :required => true, :placeholder => "Sydney", :class => "input-box" %>
      <br />

      <%= f.label :password, :class => "input-label" %><br />
      <%= f.password_field :password, :class => "input-box" %>
      <br />

      <%= f.label "Confirm password", :class => "input-label"%><br />
      <%= f.password_field :password_confirmation, :required => true, :class => "input-box" %>
      <br />

      <%= f.submit "Sign me up!", :class => "submit-btn" %><br />

      <% end %>
    </div><!--end of signupform div-->


<!-- </div><!--end of signup form container div-->
