<div id="container">

  <div class="col">

    <%= content_tag :div, :class => "photo-carousel", data: {images: @user.photos} do %>

    <% if @user.photos.present? %>

      <% @user.photos.each do |photo| %>
        <div class="photo-box">
          <%= cl_image_tag(photo.path, { size: '400x400', crop: :fit, :alt => @user.first_name}) %>
        </div>
      <% end %>

      <% elsif @user.image.present? %>
        <div class="photo-box">
          <%= image_tag(@user.image, {:class => 'index-image', :size => '400x400', :crop => :fit, :alt => @user.first_name} ) %>
        </div>
      <% else %>
        <div class="photo-box">
          <!-- default image here -->
          <%= image_tag('/assets/img.jpg', {:class => 'index-image', :size => '400x400', :crop => :fit, :alt => @user.first_name} ) %>
        </div>
      <% end %>
    <% end %>

    <% if @user.location.present? %>
      <div id="map"></div>
    <% end %>

  <br>

    <script>
      var myLatLng = {
        lat: <%= @latitude %>,
        lng: <%= @longitude %>
      };

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 15
        });

        var marker = new google.maps.Marker({position: myLatLng, map: map})
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRJ_rNpk79o-xD6SiesCvKhF6fEWrF6lk&callback=initMap" async="async" defer="defer"></script>

  </div>

  <div class="col">

    <h1><%= @user.first_name %>'s Profile</h1>

    <br>

    <h4>Name</h4>
    <br>
    <p><%= @user.first_name %></p>

    <% if @user.interests.present? %>
      <br>
      <h4>Interests</h4>
      <br>
      <p><%= @user.interests %></p>
    <% end %>

    <% if @user.bio.present? %>
      <br>
      <h4>About Me</h4>
      <br>
      <p><%= @user.bio %></p>
    <% end %>

    <% if @user.gender.present? %>
      <br>
      <h4>Gender</h4>
      <br>
      <p><%= @user.gender %></p>
    <% end %>

    <% if @user.dob.present? %>
      <br>
      <h4>Age</h4>
      <br>
      <p><%= ((Time.zone.now - @user.dob.to_time) / 1.year.seconds).floor %></p>

    <% end %>

    <% if @user.zodiac_sign.present? %>
      <br>
      <h4>Starsign</h4>
      <br>
      <p><%= @user.zodiac_sign %></p>

    <% end %>

    <br>
    <h4>Location</h4>
    <br>
    <p><%= @user.location %></p>

    <% if @user.language.present? %>
      <br>
      <h4>Favourite Programming Language</h4>
      <br>
      <p><%= @user.language %></p>
    <% end %>

    <br>
    <h4>Trivia Test Results</h4>
    <br>
    <% @categories.each do |category| %>
      <p>
        <%= category.category %>:
        <%= category.score %>0%
      </p>
    <% end %>

<br>
<br>
<br>
<br>

<% if @user === @current_user %>
  <%= button_to 'Edit Profile', edit_user_path(@user), :class=> 'user-btn', :method => :get %>
<% end %>

<% if @user === @current_user || @current_user.present? && @current_user.admin? %>
  <%= button_to 'Delete Profile', user_path(@user), :class=> 'user-btn', :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
<% end %>


</div>
</div>
</div>
</div>
</div>
