  <h1><%= @user.first_name %>'s Profile</h1>

  <br>
  <br>

  <%= content_tag :div, :class => "photo-carousel", data: {images: @user.photos} do %>

    <% if @user.photos.present? %>

      <% @user.photos.each do |photo| %>
        <div class="photo-box">
          <%= cl_image_tag(photo.path, { size: '400x400', crop: :fit, :alt => @user.first_name}) %>
        </div>
      <% end %>

    <% elsif @user.image.present? %>
    <div class="photo-box">
      <%= image_tag(@user.image, {:class => 'index-image', :size => '400x400', :crop => :fit, :alt => @user.first_name} ) %>
    </div>
    <% else %>
    <div class="photo-box">
      <!-- default image here -->
      <%= image_tag('/assets/img.jpg', {:class => 'index-image', :size => '400x400', :crop => :fit, :alt => @user.first_name} ) %>
    </div>
      <% end %>
    <% end %>

  <% if @user === @current_user %>
    <%= button_to 'Edit Profile', edit_user_path(@user), :class=> 'user-btn', :method => :get %>
  <% end %>

  <% if @user === @current_user || @current_user.present? && @current_user.admin? %>
    <%= button_to 'Delete Profile', user_path(@user), :class=> 'user-btn', :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
  <% end %>
  <br />

<br>
<br>

  <h4>Name </br> <%= @user.first_name %></h4>

  <% if @user.interests.present? %>
  <h4>Interests </br>  <%= @user.interests %></h4>
  <% end %>

  <% if @user.bio.present? %>
  <h4>Things to know about me: </br> <%= @user.bio %> </h4>
  <% end %>

  <% if @user.gender.present? %>
  <h4>Gender </br> <%= @user.gender %></h4>
  <% end %>

  <% if @user.dob.present? %>
  <h4>Age </br>  <%= ((Time.zone.now - @user.dob.to_time) / 1.year.seconds).floor %></h4>
  <h4>Starsign </br>  <%= @user.zodiac_sign %></h4>
  <% end %>

  <h4>Location </br>  <%= @user.location %></h4>


  <% if @user.language.present? %>
  <h4>Favourite Language </br> <%= @user.language %></h4>
  <% end %>


  <% if @user.location.present? %>
  <div id="map"></div> <!--need predefined height to display content, otherwise it won't expand-->

<% end %>

</div>

  <script>
      var myLatLng = {lat: <%= @latitude %>, lng: <%= @longitude %>};

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 15
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
        })
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRJ_rNpk79o-xD6SiesCvKhF6fEWrF6lk&callback=initMap"
    async defer></script>

<div>
  <h3>User interests based on test scores</h3>
    <% @categories.each do |category| %>
      <p> <%= category.category %>: <%= category.score %>0% </p>
    <% end %>
  </div>
</div>
