<h1><%= @user.first_name %>'s Profile</h1>

<br>
<br>

  <% if @current_user.admin? %>
    <%= link_to 'ADMIN: Delete Profile', user_path(@user), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
  <% end %>

  <% if @user === @current_user %>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
    <%= link_to 'Delete Profile', user_path(@user), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
  <% end %>
  <br />

  <% if @user.image.present? %>
    <%= image_tag @user.image, :class => "user-image", :alt => @user.first_name %>
  <% end %>

<br>
<br>

  <h3>Name: <%= @user.first_name %>
  <%= @user.last_name%></h3>

  <% if @user.interests.present? %>
  <h4>Interests: <%= @user.interests %></h4>
  <% end %>

  <% if @user.bio.present? %>
  <h4>A Little About Me: <%= @user.bio %> </h4>
  <% end %>

  <% if @user.gender.present? %>
  <h4>Gender: <%= @user.gender %></h4>
  <% end %>

  <% if @user.dob.present? %>
  <h4>Date of Birth: <%= @user.dob %></h4>
  <% end %>

  <h4>Location: <%= @user.location %></h4>

  <% if @user.language.present? %>
  <h4>Favourite Language: <%= @user.language %></h4>
  <% end %>
