<h1><%= @user.first_name %>'s Profile</h1>

<br>
<br>

  <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <% if @current_user.admin? %>
  <%= link_to 'Delete Profile', user_path(@user), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
  <% end %>

  <% if @user.image.present? %>
    <%= image_tag @user.image, :alt => @user.first_name %>
  <% end %>

<br>
<br>

  <h3>Name: <%= @user.first_name %> <%= @user.last_name%></h3>
  <h4>Interests: <%= @user.interests %></h4>
  <h4>Gender: <%= @user.gender %></h4>
  <h4>Date of Birth: <%= @user.dob %></h4>
  <h4>Location: <%= @user.location %></h4>
  <h4>Languages: <%= @user.language %></h4>


  <%= content_tag :div, id: "map", data: {places: @locations} do %>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7nJABK2HEiQKo4V-FCEMWX5xag8vVJeA&callback=initMap">
      </script>

      <script>


      // let state = {lat: -33.87, lng: 151.20}
      let state = {lat: 0, lng: 0}

      let map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: state.lat, lng: state.lng},
          zoom: 15
        });


        console.log($('#map').data('places') )

        let placeList = $('#map').data('places')

        for (var i = 0; i < placeList.length; i++) {
          console.log( placeList[i] )
          marker = new google.maps.Marker ({
            position: {lat: placeList[i].latitude, lng: placeList[i].longitude},
            map: map,
            label: placeList[i].address
          })
        }

        console.log("state", state)

        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        marker = new google.maps.Marker ({
          position: {lat: state.lat, lng: state.lng},
          map: map,
          label: "This is me",
          icon: image
        })

      }

      navigator.geolocation.getCurrentPosition( function(results)
        {
          console.log(results.coords.latitude, results.coords.longitude)
          state = {lat: results.coords.latitude, lng: results.coords.longitude}
          initMap()
        })

      </script>

   <% end %>
