<h1>Mailboxes#new</h1>
<p>Find me in app/views/mailboxes/new.html.erb</p>

<%= form_for @mailbox do |f| %>

<%= @receiver.first_name %>
<%= f.text_field :content %>
<%= hidden_field :extra, :receiver_id, :value => params[:id] %>

<%= f.submit 'Send Mail'%>
<% end %>
