<h1>Conversation with <%= @receiver_id.first.first_name + " " + @receiver_id.first.last_name%></h1>


  <% @mailboxes.each do |mailbox| %>

  <p>   <%= mailbox.content%></td>
  <%= mailbox.created_at.strftime("%H:%M") %></p>



  <% end %>




<%= form_tag "/mailboxes/mail/#{params[:id]}" do %>
  <%= text_field_tag :content %>
  <%= submit_tag "Send" %>
<% end %>
