<h1>Mailboxes#show</h1>
<p>Find me in app/views/mailboxes/show.html.erb</p>

<table>
<thead>
  <tr><td>sender_id </td>
<td>Content </td>
<td> Date/Time </td>
<td> Delete Mail </td>
</tr>
</thead>
<tbody>
  <% @mailboxes.each do |mailbox| %>
<tr>
  <td> <%= mailbox.sender_id %></td>
    <td>  <%= mailbox.content%></td>
    <td><%= mailbox.created_at %></td>
    <td><%= button_to 'Delete mail', mailbox_path(mailbox.id), :method => 'delete' %></td>
</tr>

  <% end %>

</tbody>
</table>


<%= form_tag "/mailboxes/mail/#{params[:id]}" do %>
  <%= text_field_tag :content %>
  <%= submit_tag "Send" %>
<% end %>
