<!DOCTYPE html>
<html>
  <head>
    <title>DatingWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>

      <ul>

        <% if @current_user.present? %>
          <%= link_to 'Home', root_path, :class=> "nav-link" %>

          <%= link_to 'My Profile', user_path(@current_user), :class => "nav-link" %>

          <li class="nav-item">
            <%= link_to "Find Matches!", users_path, :class => "nav-link" %>
          </li>

          <li class="nav-item">
            <a href='#'>My Matches</a>
          </li>

          <li class="nav-item"></div>
              <a href="/conversations">My Conversations</a>
          </li>


          <li class="nav-item"></div>
              <a href="/categories">Fun stuff</a>
          </li>


          <li class="nav-item">
            <%= link_to "Sign Out #{@current_user.first_name.capitalize} ", login_path, :method => 'delete', :class => "nav-link" %>
          </li>

          <%= link_to 'Admin Area', users_path if @current_user.admin? %>

        <% else %>

          <%= link_to 'Log In', login_path, :class => "nav-link" %>
          <%= link_to 'Sign Up', new_user_path, :class => "nav-link" %>
        <% end %>
      </ul>

    </nav>

    <%= yield %>

  </body>
</html>
