<!DOCTYPE html>
<html>
  <head>
    <title>DatingWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
<ul class="topnav">
<li>  <%= link_to 'Home', root_path, :class => "active" %>
<li>  <%= link_to 'new mail' , new_conversation_path %>

<% if @current_user.present? %>
<li>  <%= link_to 'current Users' , users_path %>
<li><%= link_to "Sign out #{@current_user.email}", login_path, :method => "delete", :class =>"logins"%>

<% else %>
<li>  <%= link_to 'Sign up', new_user_path, :class =>"logins" %>
<li>  <%= link_to 'Sign in', login_path, :class =>"logins" %>
<% end %>
</ul>
</nav>
    <%= yield %>
  </body>
</html>
